---
layout: default
permalink: /tags.html
---
<!-- page header -->
<header class="masthead" style="background-color: {{ page.masthead-color | default: 'white' }}">
  <div class="container">
    <h1 class="page-title">Tags</h1>
    <div class="page-subtitle">
        <!-- ajouter un sous-titre ici -->
    </div>     
  </div>
</header>

<!-- content -->
<div class="container">

  <div id="archives">
  {% for tag in site.tags %}
    <div class="archive-group">
      {% capture tag_name %}{{ tag | first }}{% endcapture %}
      <div id="#{{ tag_name | slugize }}"></div>
      <h3><span class="badge badge-default">{{ tag_name }}</span></h3>
      
      {% for post in site.tags[tag_name] %}
        <article class="archive-item">
          <h5><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h5>
        </article>
      {% endfor %}
    </div>
    <hr>
  {% endfor %}
  </div>

</div>