---
# Si vous souhaitez que la page d'acceuil de votre site soit le blog,
# alors remplacez simplement le message d'accueil ou supprimez le.
# Sinon remplacez ci-après 'bloglayout' par 'page'
layout: default
---

<!-- master head image and color--> 
{% if page.masthead-img %}
<div class="masthead-img" style="background-image: url('{{ site.basurl }}/assets/img/{{ page.masthead-img }}');">
    <header class="masthead">
{% else %}
    <header class="masthead" style="background-color: {{ page.masthead-color | default: 'white' }}">
{% endif %}

        <div class="container">
            <h1 class="page-title">{{ site.title }}</h1>
            <p class="lead">{{ site.tagline }}</p>
        </div>

    </header>

    {% if page.masthead-img %}
</div> <!-- masthear-img -->
{% endif %}

<!-- content -->
{% include blogposts.html %}
