<!DOCTYPE html>
<html lang="fr-fr">

  {% include head.html %}

  <body>

    <div class="noprint">
    <!-- navbar : use navbar-inverse or navbar-light-->
    <nav class="navbar navbar-toggleable-sm navbar-light fixed-top">

      <!-- toggle button -->
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- brand logo and name -->
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <!--img src="{{ site.baseurl }}/brand.png" height="30" width="30" alt=""-->
        {{ site.brand }}
      </a>

      <div class="navbar-collapse collapse" id="mynavbar" aria-expanded="false" role="navigation">
        <ul class="navbar-nav mr-auto">

          <!-- index -->
          <li class="nav-item {% if page.url == '' or page.url == '/index.html' or page.url == '/' %} active{% endif %}">
            <a class="nav-link" href="{{ site.baseurl }}/">Accueil</a>
          </li>

          <!-- blog -->
          {% if site.showbloginnavbar %}
          <li class="nav-item {% if page.url contains '/blog/' %} active{% endif %}">
            <a class="nav-link" href="{{ site.baseurl }}{{ site.showbloginnavbar }}">Blog</a>
          </li>
          {% endif %}

          <!-- pages with 'navbar:' defined in yaml front matter, order by 'navbarindex:' -->
          {%- assign pages_list = site.pages | sort:"navbarindex" -%}
          {%- for node in pages_list -%}
            {%- if node.navbar != null -%}
            <li class="nav-item {% if page.url == node.url %} active{% endif %}">
              <a class="nav-link" href="{{ site.baseurl }}{{ node.url }}">{{ node.navbar }}</a>
            </li>
            {%- endif -%}
          {%- endfor -%}

        </ul>
      </div>
    </nav>
    </div>

    <!-- overall content -->
    {{ content }}

    <!-- footer -->
    {% include footer.html %}

    <!-- scripts : jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/assets/js/tether.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    {%- include google-analytics.html -%}

    <!-- bootstartp4 script to enable tooltips on all pages -->
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip(); });
    </script>

  </body>
</html>
