---
layout: default
---
{% assign defaultcomments = false %}
<article class="page" itemscope itemtype="http://schema.org/CreativeWork">
  <header class="page-header">
    <div class="container">
      <h1 class="page-title">{{ page.title | escape }}</h1>
      {% if page.subtitle %}
      <div class="page-subtitle">
          {{ page.subtitle }}
      </div>
      {% endif %}
    
      <!-- tags -->
      <div class="page-meta">
      {% for tag in page.tags %}
          <span class="badge badge-default">
              <a href="{{ site.baseurl }}/tags.html#{{ tag | slugize }}">{{ tag }}</a>
          </span>
      {% endfor %}
      </div>
    </div>
  </div>
  </header>

  <div class="container">
  {{ content }}
  {% include disqus_comments.html %}
  </div>

</article>
